body{

font-family:Arial, Helvetica, sans-serif;
margin:0;
background:#f3f4f6;
transition:0.3s;

}

body.dark{

background:#111827;
color:white;

}

header{

background:#1f2937;
color:white;
padding:20px;
text-align:center;

}

.controls{

margin-top:15px;
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;

}

input,select{

padding:10px;
border-radius:6px;
border:1px solid #ccc;

}

button{

padding:10px 15px;
background:#2563eb;
border:none;
color:white;
border-radius:6px;
cursor:pointer;

}

#newsContainer,
#favoritesContainer{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:30px;

}

.news-card{

background:white;
padding:15px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
transition:0.3s;

}

.news-card:hover{

transform:translateY(-6px);

}

.news-card img{

width:100%;
border-radius:8px;

}

.news-title{

font-weight:bold;
color:#2563eb;
cursor:pointer;

}

.favorite-btn{

margin-top:10px;
background:#f59e0b;

}
